p {
font-weight: 400;
}

h2 {
    font-weight: 700;
    color: #2c3e50;
    font-size:2.0rem;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;    
}

body {
    font-family: source sans pro;
    border-color: #bdc3c7;
    border-width: 20px;
    border-style: solid;
    max-width: 700px;
    margin: 20px auto;
    padding:20px;
    width:80%;
}

.quote {
    border-left:5px solid #bdc3c7;
    padding-left:5px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom:20px;
}