/* Font family */
/* p {
    font-family: "Arial";
} */
/* Font size */
body {
    font-size: 10px;
}

h1 {
    font-size: 5.0em;
}

p {
    font-size: 2.0em;
}

span {
    font-size: 2.0em;
}
/* font weight */
p {
    font-weight: normal;
}

/* line height */
p{
  line-height: 1.5;  
}

/* text align */
p {
    text-align: center;
}

/* text decoration */
p {
    text-decoration: overline
}

h1 {
    text-decoration: line-through;
}


/* Google fonts */

p {
    font-family: 'Roboto', sans-serif;
}